<% include ./partials/header%>
    <div id="landing-header">
       <h1>Welcome to Dangerous Snake World!</h1>
       <a href="/snakes" class="btn btn-lg btn-success">View All Snakes</a>
   </div>
   <ul class="slideshow">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
 </ul>
<% include ./partials/footer%>
